{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Alexander's Food! 🍴 {% endblock %}</h1>
    <p>nuff said</p>
    <h2 id="summary">Summary</h2>
    <p>Here is a recipe collection written and tested under torture-like conditions by wannabe culinary students with too little or too much free time.</p>
    <p>The recipes in this collection have been collected and curated (mostly) by <a href="https://github.com/alexander-hjelm">Alexander</a> from the following sources:</p>
    <ul>
        <li>His tripped-out travels and travails in Sweden and other countries.</li>
        <li>His various ex-girlfriends</li>
        <li>His current <a href="https://github.com/LuciferinW">girlfriend</a> (don&#39;t expect to find much on her GitHub profile though)</li>
        <li>His cat</li>
        <li>His dog</li>
        <li>His <a href="https://en.wikipedia.org/wiki/CatDog">CatDog</a></li>
        <li>His <a href="https://www.raspberrypi.com/products/raspberry-pi-1-model-b-plus/">cyborg turtle</a></li>
    </ul>
    <h2 id="non-pc-notice">Non-PC notice</h2>
    <p>The contents of this website are not guaranteed to be politicially correct in any way, shape or form. If you are an easily offended coward, please close this website, clear your browser history, burn your device and forget that any of this ever existed.</p>
    <h2 if="source-code">Source code</h2>
    <p>The source code for this website can be found <a href="https://github.com/Alexander-Hjelm/food">here</a>.</p>
    <h2 id="copyright-and-such-nonsense">Copyright and such nonsense</h2>
    <p>What the hell is &#39;copyright&#39; anyway? Does it taste good or not, son?</p>
{% endblock %}